body {
    font-family: var(--font);
    color: var(--font-color);
    background: var(--bg-body);
}

label {
    font-size: 1.2rem;
    font-weight: 700;
}

h2 {
    color: var(--primary-color);
}

div {
    width: 100%;
}

input[type=text],
select,
textarea {
    width: 80%;
    min-height: 40px;
    border-radius: 8px;
    background-color: var(--bg-form);
    border: 2px dashed var(--primary-color);
}

.header {
    max-height: 180px;
    font-size: 1.4rem;
    padding: 1.8rem;
    text-align: center;
    background: var(--bg-header);
    border-bottom: 2px dashed var(--primary-color);
}

.container {
    gap: 1.5rem;
    width: 60%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4rem auto;
    text-align: center;
    border-radius: 8px;
    background-color: var(--bg-form);
    border: 2px dashed var(--primary-color);
}

.topping {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.btn {

    padding: 13px 40px;
    border-radius: 8PX;    
    color: var(--font-color);
    background: var(--bg-body);
    border: 2px dashed var(--primary-color);
}

.btn:hover{
    font-weight: 700;
    color: var(--bg-header);
    border: 2px dashed var(--font-color);
}